{
  "presets": ["next/babel"],
  "plugins": [
    "transform-decorators-legacy",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "en": "./data/en",
          "styles": "./styles",
          "components": "./components"
        }
      }
    ]
  ]
}
